@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal_MVC_CRUD.Models.AddAssignmentViewModel

<h1>Add Assignment</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Assignment Number</label>
        <input type="text" class="form-control" asp-for="AssignmentNumber" />
    </div>

    <div class="mt-3">
        <label class="form-label">Assignment Semester</label>
        <input type="text" class="form-control" asp-for="AssignmentSem" />
    </div>

    <div class="mt-3">
        <label class="form-label">Assignment Content</label>
        <input type="text" class="form-control" asp-for="AssignmentContent" />
    </div>

    <div class="mt-3">
        <label class="form-label">Assignment Subject</label>
        <input type="text" class="form-control" asp-for="Subject" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>